body {
    color: #666;
    font-family: sans-serif;
    margin-left: 70px;
    padding-left: 20px;
    background-color: #eee;
    font-size: 0.8em;
}

h1 {color: #0f0;}
h2 {color: #093;}
h3 {color: #827839;}
h4 {text-decoration: underline;}
a {color: #f0f; text-decoration: none; font-weight: bold;}
cite {text-decoration: none; font-weight: bold;}

div#main {
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 0;
    margin-left: -400px;
    margin-bottom: 100px;
    padding: 0 20px;
    padding-bottom: 200px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    width: 800px;
}

ul { padding-left: 10px; }
ul li { display: block; margin: 15px 0; }

div.bib ol { display: block; list-style-type: none; }
div.bib ol li { display: block; margin: 15px;}